/* This is what we are focused on */
.table-wrapper{
    overflow-y: scroll;
    height: 150px;
  }
  
  .table-wrapper th{
      position: sticky;
      top: 0;
  }
  
  /* A bit more styling to make it look better */
  .table-wrapper{
    background: CadetBlue;
  }
  
  table{
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
      background: #DDD;
  }
  
  td,th{
    padding: 10px;
    text-align: center;
  }